body {background-color: #666;} ul{margin:0;padding: 0;} li{list-style: none;} img{border:0;}

.play{width:280px;height:330px;margin:50px auto 0;background: #999;font:12px Arial;position: relative;overflow: hidden;}
/*所有超过边界的都隐藏掉*/

.play .prev{width:60px;height: 60px;background: url(images/btn.gif) no-repeat 0 0;position: absolute;top:135px;left:10px;z-index: 3001;filter:alpha(opacity:0);opacity: 0;cursor: pointer;}
.play .next{width:60px;height: 60px;background:url(images/btn.gif) no-repeat 0 -60px;position: absolute;top:135px;right: 10px;z-index: 3001;filter:alpha(opacity:0);opacity: 0;cursor: pointer;}
.play .mark_left{width:140px;height:330px;position: absolute;left:0;top:0;background:red;filter:alpha(opacity:0);opacity: 0;z-index:3000;}
.play .mark_right{width:140px;height:330px;position: absolute;left:140px;top:0;background:green;filter:alpha(opacity:0);opacity: 0;z-index:3000;}
.text{position: absolute;left:10px;top:310px;z-index: 3000;color:#ccc;}
.length{position: absolute;right:10px;top:310px;z-index: 3000;color:#ccc;}
#btn{z-index:2999;position: absolute;left:10px;line-height: 13px;text-align: center;width:280px;margin:10px auto 0 auto;}
#btn a{display:inline-block;background:url(images/img.gif) no-repeat; width:13px;height: 13px;}
#btn a.active{background-position: -26px 0;}
/*红点*/
#btn a.index{background-position: -13px 0;}
.bg{width:280px;height: 30px;background:#000;filter:alpha(opacity=60);opacity: 0.6;position: absolute;z-index:2999;bottom:0;left: 0;}
#back{width:280px;height:30px;background:0;background:#000;filter:alpha(opacity=60);opacity: 0.6;position: absolute;z-index:2999;bottom:0;left: 0;}

.small_pic{width:280px;height:330px;position:relative;overflow: hidden;}
/*这里ul外一定要套个div，因为ul的宽度是图片个数*图片宽度，为了限制窗口的位置，必须再设个div，多出来的部分隐藏掉
*/.small_pic ul{height:280px;position: absolute;top:0;left:0;}
.small_pic li{width:280px;height: 330px;float:left;padding-right: 10px;background: url(images/loading.gif) no-repeat center center;}
.small_pic li img{width:280px;height: 330px}

